@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';

.side-menu-wrapper {
  padding-top: 1rem;
  margin-top: 2rem;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 4%;
  min-width: 4rem;
  z-index: 9;
  background-image: linear-gradient(to bottom, #8b0d35, #9b1c42, #aa2a50, #ba365e, #ca426d);
  transition: all 0.18s ease-in-out;
  border-top-right-radius: 1.5rem;
  color: $c-primary-lighter;
  box-shadow: 0px 0 24px 5px rgba(145, 158, 171, 0.396);

  .MuiTouchRipple-root {
    margin: 0 !important;
  }

  .side-menu-title {
    opacity: 0;
    color: $c-primary-lighter;
    transition: all 0.18s ease-in-out;
  }

  &.is-open {
    width: 13%;
    min-width: 13rem;
    opacity: 1;

    .side-menu-title {
      opacity: 1;
      transition: all 0.18s ease-in-out;
    }
  }

  .side-menu-content {
    .side-menu-title-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 20px;
      font-family: $ff-semibold;
      color: $c-primary-lighter;
      padding: 1rem;

      .MuiButtonBase-root {
        border-radius: 0.5rem;
        color: $c-primary-lighter;
        padding: 0.5rem;
        margin-right: 0.5rem;

        .mdi::before {
          font-size: 26px !important;
        }
      }
    }

    .side-menu-items {
      .side-menu-signout-btn {
        position: absolute;
        width: 100%;
        bottom: 1rem;
      }

      .side-menu-items-wrapper {
        padding-top: 0.5rem;
      }

      .side-menu-item {
        display: flex;
        align-items: center;

        .item-name {
          opacity: 1;
          transition: all 0.18s ease-in-out;
        }

        .MuiButtonBase-root {
          width: 100%;
          padding: 0.7rem 0.8rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: lighter;
          border-radius: 0.5rem;
          margin: 0 0.75rem;
          margin-bottom: 0.5rem;
          font-size: 14px;
          transition: background-color 0.18s ease-in-out, width 0.18s ease-in-out;

          .mdi::before {
            font-size: 24px;
          }

          &:hover {
            background-color: $c-primary-lightest;
            color: $c-primary-dark;
            transition: background-color 0.18s ease-in-out, width 0.18s ease-in-out;

            span {
              color: $c-primary;
            }
          }
        }

        span {
          color: $c-primary-lighter;
          margin-right: 1rem;
        }

        &.is-active {
          .MuiButtonBase-root {
            font-weight: bold;
            font-family: $ff-semibold;
            color: $c-primary-dark;
            background-color: $c-primary-lighter;

            span {
              color: $c-primary;
              margin-right: 1rem;
            }
          }
        }
      }

      &.is-closed {
        .side-menu-item {
          .item-name {
            opacity: 0;
            transition: opacity 0.18s ease-in-out;
          }

          .MuiButtonBase-root {
            width: 65%;
            transition: width 0.18s ease-in-out;
            transition: background-color 0.18s ease-in-out;

            &:hover {
              background-color: $c-primary-lightest;
              color: $c-primary-dark;
              transition: background-color 0.18s ease-in-out;
            }
          }

          &.is-active {
            .MuiButtonBase-root {
              background-color: $c-primary-lighter;
            }
          }
        }
      }
    }
  }
}
