@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';

.user-menu-wrapper {
  width: 18rem;
  height: 18rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .user-image-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 1.5rem;

      .MuiButtonBase-root {
        border-radius: 50%;
      }

      .MuiAvatar-root {
        cursor: pointer;
        border: 5px solid $c-primary;
        background-color: #f4f4f4 !important;
        color: #d9d9d9;
      }
    }

    .user-name-text {
      text-align: center;
      padding: 0.5rem 2rem 0 2rem;
      font-size: 14px;
      color: black;
    }

    .user-role-text {
      padding-top: 0.3rem;
      font-size: 12px;
      color: $c-gray;
    }

    .user-manage-wrapper {
      padding-top: 0.5rem;

      .MuiButtonBase-root {
        border-radius: 1rem;
        font-size: 12px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }

    .user-reset-password-wrapper {
      width: 100%;
      padding-top: 1rem;

      .MuiButtonBase-root {
        color: #5b5b5b;
        padding: 1rem;
        padding-left: 1.5rem;
        margin-left: -1px;
        border-radius: 0;
        border-top: 1px solid #dbdbdb;
        width: 100%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:not(:first-child) {
          border-bottom: 1px solid #dbdbdb;
        }
      }
    }
  }

  .menu-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
  }
}

.user-email-dilaog-wrapper {
  .password-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .password-dialog-title {
      font-size: 16px;
      padding-top: 1rem;
      color: $c-gray-dark;
      padding-bottom: 0.3rem;
    }
    .password-dialog-email {
      font-weight: bold;
      color: black;
      font-family: $ff-semibold;
    }
  }
}
