.forgot-password-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .card-close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .otp-code-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .otp-input-item {
      padding-right: 0.5rem;
      max-width: 3.1rem;
      text-align: center;
    }
  }
}
