@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';

.change-password-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .card-close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .login-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .skip-password-wrapper {
      background-color: white !important;
      color: $c-primary !important;
      border: 2px solid $c-primary;
      max-width: 7rem !important;
      min-width: 7rem !important;
    }
  }

  .errors-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    .error-item {
      color: $c-danger;
      font-weight: bold;
      font-family: $ff-semibold;
    }
  }
}
