@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';

.main-layout-wrapper {
  display: flex;
  position: relative;

  .container-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 4rem;
    transition: all 0.18s ease-in-out;

    &.is-open {
      width: 85%;
    }

    .home-views-wrapper {
      @include d-inline-flex;
      width: 100%;
    }
  }
}
