@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';

.dashboard-wrapper {
  padding-right: 2rem;

  .chart-item {
    width: 33.3333%;
    background-color: white;
    box-shadow: $bs-primary;
    padding: 1rem;
    transition: all 0.18s ease-in-out;
    border-radius: 1.5rem;
  }
}
